* {
  margin: 0;
  padding: 0;
  /*
  box-sizing - Faz com que a medida seja feita apartir da borda da caixa, ou seja, mesmo depois de prencher a caixa a borda lateral dela continuará com o tamanho que foi determinado
  */
  box-sizing: border;
}
body {
  /*
  background-image: url("./assets/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  
  background - color, image, repeat, position/size*/
  background: var(--bg-url) no-repeat center top / cover;

  height: 100vh;
}
:root{
  /*Ps: o --text-color está sendo aplicado tanto na cor da fonte quanto na cor da borda-hover*/
  --text-color: white;
  /*imagem de fundo*/
  --bg-url: url(assets/bg-mobile.jpg);
  /*cor do background*/
  --surface-color: rgba(255, 255, 255, 0.1);
  /*cor da borda*/
  --stroke-color: rgba(255, 255, 255, 0.5);
  /*cor do background-hover*/
  --surface-color-hover:rgba(255, 255, 255, 0.05);
  /*cor do background do social-link*/
  --highlight-color: rgba(255, 255, 255, 0.2);
  /*imagem do switch*/
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light{
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --surface-color: rgba(0, 0, 0, 0.05);
  --stroke-color: rgba(0, 0, 0, 0.50);
  --surface-color-hover:rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  /*
  margin-top: 56px;   | top     =  cima
  margin-right: auto; | right   =  direita
  margin-bottom: 0;   | bottom  =  baixo 
  margin-left: auto;  | left    =  esquerda 
  */
  margin: 56px auto 0px;
  padding: 0 24px;
}
/*Profile -------------------------------*/
#profile {
  text-align: center;
  padding: 24px;
}
#profile img {
  width: 112px;
  /*
  margin: auto;
  display: block;
  Em elementos inline não é possível utilizar o "margin: auto;"
  */
}
#profile p {
  font-weight: 500;
  /*line-height - Modifica a altura de linha*/
  line-height: 24px;
  padding-top: 8px;
}
/*Switch -------------------------------*/
#switch{
  /*
  position: relative; - no meu github na pasta Projetos-CSS/Posicionamento, explixa melhor como ele funciona 
  */
  position: relative;
  width: 64px;
  /*
  margin: 0 auto; - um metodo muito uzado para centralizar elementos do tipo block, é no margin, colocar um valor fixo para altura e um valor automatico para largura 
  */
  margin: 4px auto;
}
#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  
  /*position: absolute; - faz uma sobreposição de camadas*/
  position: absolute;
  top: 50%;
  left: 0;
  /*
  z-index - no meu github na pasta Projetos-CSS/Posicionamento, explixa melhor como ele funciona
  */
  z-index: 1;
  /*
  transform - aceita um monte de propriedade de transformação de elemento
  translateY() - é uma propriedade de tranformação que pode ser usada no transform, ela mexe na posição do elemento no eixo Y
  */
  transform: translateY(-50%);
  
  /*animation - se refere animação criada no @keyframes*/
  animation: slide-back 0.2s;
}
.light #switch button{
  /*forwards - mantem as alterações feitas no 'slide-in' quando ele tertminar a animação*/
  animation: slide-in 0.2s forwards;
  /*
  right: 0;
  left: initial; - volta o left para o seu valor inicial
  left: initial;
  */
}
#switch button:hover{
  outline: 8px solid var(--highlight-color);
}
#switch span{
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;

}
/*Links -------------------------------*/
ul {
  /*display: flex; - é usado para posicionar as caixas dentro de uma caixa*/
  display: flex;
  flex-direction: column;
  /*gap: 8px; - faz com que os conteudos dentro dessa caixa tenha um espaço entre eles*/
  gap: 16px;
  
  list-style: none;
  padding: 24px 0;;
}
ul li a {
  display: flex;
  /*
  align-items: center; - alinha os itens no centro, não funciona sem display flex, pois no deisplay flex as caixas tem uma linha virtual que passa no meio "horizontal" delas
  */
  align-items: center;
  /*
  justify-content: center; - centraliza o conteúdo dentro da caixa, não funciona sem display flex, pois no deisplay flex as caixas tem uma linha virtual que passa no meio "vertical" delas
  */
  justify-content: center;

  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  /*backdrop-filter: blur(4px); - deixa o fundo imbaçado*/
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  /*text-decoration - coloca linhas em uma determinada posição ou as tiram do texto*/
  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
  /*
  Outras propriedades que não foram usadas:
  display: none; é uma propriedade CSS que oculta um elemento da página
  */
}
/*
ul li a:hover{} - pseudo select faz uma caixa ter outra configuração quando o mouse passa por cima, por exemplo outra cor de fundo e tamanho de borda
*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}
/*Social links -------------------------------*/
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;
  font-size: 24px;
}
#social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}
#social-links a:hover{
  background-color: var(--highlight-color); 
}
/*Rodapé -------------------------------*/
footer{
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}
/*
media-queries -> ela só funciona quando no html tem o meta "viewport"
*/
@media(min-width: 700px){
  :root{
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light{
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}
/*animation*/
@keyframes slide-in{
  from{
    left: 0;
  }
  to{
    left: 50%;
  }
}

@keyframes slide-back{
  from{
    left: 50%;
  }
  to{
    left: 0;
  }
}